<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.yamba">
    <application
        android:name=".YambaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TimelineActivity" android:label="@string/titleTimeline">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StatusActivity" android:label="@string/titleStatus"/>
        <activity android:name=".PrefActivity" android:label="@string/titlePrefActivity"/>
        <activity android:name=".MiscActivity" android:label="@string/titleMiscActivity"/>
        <service android:name=".UpdaterService"></service>
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <provider
            android:authorities="content://com.example.administrator.yamba.statusprovider"
            android:name=".StatusProvider"/>
    </application>
    <permission android:name="com.example.administrator.yamba.RECEIVE_TIMELINE_NOTIFICATION"
        android:label="@string/receive_timeline_notifications_permission_label"
        android:description="@string/receive_timeline_notifications_permission_description"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
    <permission android:name="com.example.administrator.yamba.SEND_TIMELINE_NOTIFICATION"
        android:label="@string/send_timeline_notifications_permission_label"
        android:description="@string/send_timeline_notifications_permission_description"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.example.administrator.yamba.RECEIVE_TIMELINE_NOTIFICATION"/>
    <uses-permission android:name="com.example.administrator.yamba.SEND_TIMELINE_NOTIFICATION"/>
</manifest>